form {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: center;
}

/* body {
  background-color: #109bff;
} */

label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  color: #ffffff;
}

input[type="submit"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #1a2c45;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  margin-top: 2rem;
}
input[type="submit"]:hover {
  background-color: #1a2c45;
  margin-top: 2rem;
}
.btn {
  margin: auto;
  text-align: center;
}

.hamburger-menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.hamburger-icon {
  height: 40px;
  width: 40px;
}

.hamburger-menu {
  position: absolute;
  top: 55px;
  right: 20px;
  border: none;
  padding: 10px;
  text-align: right;
  font-size: 16px;
  border-radius: 50px;
  list-style: none;
}
.ham-list-item {
  top: 55px;
  right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.space-between-menu-items {
  padding-top: 4px;
  padding-bottom: 4px;
}

.form {
  height: 80%;
  width: 50%;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.595);
  margin: auto;
}

input[type="text"] {
  width: 80%;
  margin: 0rem;
  padding-bottom: 0;
  height: 7rem;
}

.post-btn {
}

.post-btn {
  margin-top: 50px;
  width: 20rem;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.post-btn:hover {
  background-color: #080710;
  color: white;
  transition: 0.75s;
}
