.App {
  text-align: center;
}

.App-header {
  /*background-image: url("../imgs/ucla-full-promo.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fcc419;
}

.App-header h1 {
  margin: 30px 0;
  font-size: 4em;
}

.App-header h2 {
  margin: 50px 0 0 0;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 2em;
  /* color: #fcc419; */
  color: #d8d8d8;
}

.App-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3em;
}

.App-signup-button,
.App-login-button {
  font-size: 1.2em;
  padding: 1em 2em;
  margin: 0 1em;
  background-color: #dde0e2;
  opacity: 80%;
  color: #1d1d1d;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.App-signup-button {
  margin-bottom: 30px;
}

.App-signup-button:hover,
.App-login-button:hover {
  background-color: #282c34;
  color: #ffffff;
}

.App {
  background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23c9d5);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  background-position: top;
}

.logo {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.h2 {
  margin-top: 0px;
}

.padding {
  padding-bottom: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
