/* body{
  background-color: #109bff;
}
.empty_space {
  height: 2rem;
}
.post-container {
  color: white;
  font-weight: bold;
  background-color: #5e5c5c;
  border-color: black;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  width: 75%;
  align-self: center;
  margin: auto;
  margin-top: 4rem;
  text-align: center;
  padding: 3%;
  overflow: hidden;
}

.post-element {
  background-color: #5e5c5c;
  justify-self: stretch;
  margin: auto;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.post-author {
  background-color: #ffd324;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 100%;
  margin-left: 0rem;
  font-size: 2rem;
}

.post-content {
  background-color: #a3a1b3;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4 / span 2;
  margin-top: 0.5rem;
  margin-left: 0rem;
  width: 100%;
  height: 100%;
  align-self: top;
}

.post-contact {
  background-color: #ffd324;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.post-timestamp {
  grid-column-start: 2;
  grid-row-start: 7;
  font-size: 1.2rem;
  justify-self: end;
  align-self: end;
}

.post-diningHall {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  /* margin-bottom: 9.6rem; */
/* } */

.logo {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fprofile_6522516&psig=AOvVaw3dcKO0j1F-u5MAknJqhmVW&ust=1676848006235000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCLDr4OaXoP0CFQAAAAAdAAAAABAD);
} */

.hamburger-menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.hamburger-icon {
  height: 40px;
  width: 40px;
}

.hamburger-menu {
  position: absolute;
  top: 55px;
  right: 20px;
  border: none;
  padding: 10px;
  text-align: right;
  font-size: 16px;
  border-radius: 50px;
  list-style: none;
}
.ham-list-item {
  top: 55px;
  right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.space-between-menu-items {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* .dropdown {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
} */

/* .accept-btn {
  color: black;
  grid-column-start: 1;
  grid-row-start: 8;
  display: block;
  margin: 1rem;
} */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  min-height: 100vh;
  padding: 30px;
}



.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* change this as needed */
  grid-gap: 10px; /* adjust the gap between the elements */
}


.cards {
  display: block;
}

.card {
  display: block;
  margin: 10px;
  width: 600px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card .image img {
  max-width: 200%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card .content {
  padding: 20px 30px;
}

.card.is-loading .image,
.card.is-loading h2,
.card.is-loading h4,
.card.is-loading p {
  background: #eee;
  background: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  border-radius: 5px;
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
  animation: 1.5s shine linear infinite;
}

.card.is-loading .image {
  height: 200px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card.is-loading h2 {
  height: 30px;
}

.card.is-loading h4 {
  height: 25px;
}

.card.is-loading p {
  height: 70px;
}

@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
