* {
  font-family: "Times New Roman", Times, serif;
  /*background-color: #109bff; */
}
.empty_space {
  height: 2rem;
}
.post-container {
  color: white;
  font-weight: bold;
  background-color: #5e5c5c;
  border-color: black;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr 2fr;
  border-radius: 25px;
  width: 75%;
  align-self: center;
  margin: auto;
  margin-top: 4rem;
  text-align: center;
  padding: 3%;
  overflow: hidden;
}

.post-element {
  background-color: #5e5c5c;
  justify-self: stretch;
  margin: auto;
  text-align: left;
  margin-left: 0;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.post-author {
  background-color: #aba5e5;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 100%;
  margin-left: 0rem;
}

.post-content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-self: center;

  /* margin-bottom: 9.6rem; */
}

.logo {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fprofile_6522516&psig=AOvVaw3dcKO0j1F-u5MAknJqhmVW&ust=1676848006235000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCLDr4OaXoP0CFQAAAAAdAAAAABAD);
}

.hamburger-menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.hamburger-icon {
  height: 40px;
  width: 40px;
}

.hamburger-menu {
  position: absolute;
  top: 55px;
  right: 20px;
  border: none;
  padding: 10px;
  text-align: right;
  font-size: 16px;
  border-radius: 50px;
  list-style: none;
}
.ham-list-item {
  top: 55px;
  right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.space-between-menu-items {
  padding-top: 4px;
  padding-bottom: 4px;
}

.dropdown {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}
