.profile-header {
  padding-top: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hamburger-menu-button {
  position: absolute;
  top: 10rem;
}

.hamburger-icon {
  height: 40px;
  width: 40px;
}

.hamburger-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  padding: 10px;
  text-align: right;
  font-size: 16px;
  border-radius: 50px;
  list-style: none;
}
.ham-list-item {
  top: 55px;
  right: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: black;
}

.space-between-menu-items {
  padding-top: 4px;
  padding-bottom: 4px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px 0;
}

.padding {
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.sc-head {
  color: white;
  font-size: 30px;
  padding: 20px;
  margin: 0px;
}

.sc {
  color: white;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.name {
  color: white;
  font-size: 30px;
  padding: 20px;
  margin: 0px;
}

input[type="button"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #000000;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  margin: 1rem;
  width: 80%;
}

.btncontainer {
  text-align: center;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  justify-content: center;
}

input[type="button"]:hover {
  background-color: #3643a3;
  grid-template-columns: 1 / 3;
}
.btn-to-ucladining:hover {
  background-color: #3643a3;
}

.btn-to-ucladining {
  grid-column: 1/-1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #000000;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  margin: 1rem;
}

body {
  background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  background-position: top;
  overflow-x: hidden; /* Add this line */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-rectangle {
  background-color: rgba(255, 255, 255, 0.272);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 70%;
  border-radius: 35px;
  justify-content: center;
  align-items: center;
}
