/* SignUp.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.form {
  width: 80%;
}
.head {
  height: 5rem;
  margin-top: 2.5rem;
}
.container {
  max-width: 800px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.container h1 {
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 4.5rem;
  text-align: center;
  text-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
}

.container p {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 30px;
}

.container input {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-size: 1.5rem;
  padding: 0 20px;
  background: #f1eded;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;
  color: #000000;
}

.container .button {
  display: block;
  color: #f1eded;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3rem;
  width: 100%;
  max-width: 300px;
  height: 82px;
  margin: 30px auto 0;
  background: #1a2c45;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
